body {
    margin: 0;
    font-family: sans-serif;
}

/*Override button style to match a.btn styling*/
button {
    padding: 0;
    border-style: none;
}

input[type="text"],
input[type="url"],
select {
    height: 45px;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

.side {
    height: 600px;
    width: 110px;
}

.side ul li a {
    width: 110px;
    height: 100px;
}

.side ul li a.active {
    background: #242B33
}

.side ul li a i {
    margin-top: 20px;
}

.wrapper {
    width: 460px;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}

.input-field {
    width: 400px;
    margin: 0 0 20px 0;
    padding-left: 15px;
    font-size: 22px;
    font-weight: bold;
    border: solid 1px #dae4eb;
}

#button-bar {
    position: fixed;
    bottom: 30px;
}

.block {
    width: 400px;
}

.folder {
    color: #f97e76;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    padding: 1px 0 1px 10px;
}

.folder:hover {
    background: #2e3641;
    cursor: pointer;
}

.folder:hover a {
    color: #ffffff;
    text-decoration: none;
}

.folder a {
    color: #2e3641;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
}

.link {
    margin: 15px 0 15px 0;
}

.link a {
    display: block;
    color: #f97e76;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.link p {
    margin: 10px 0 0 0;
    font-size: 15px
}
