<div class="wrapper">
    <h1>Add New Link</h1>
    <form ng-submit="save()" name="addLinkForm">
        <input ng-model="link.url" name="urlField" type="url" placeholder="URL" class="input-field" id="link-url-input"/>
        <select ng-model="link.folder" name="folderField" class="input-field"></select>
        <textarea ng-model="link.note" name="notesField" placeholder="Some notes (optional)" class="input-field" id="link-note-input"></textarea>
        <button type="submit" class="btn" id="save-link-button">Save</button>
    </form>
</div>
